html {
    background: sienna;
    color: white;
    align-content: center;
}

.container-fluid {
    position: centered;
    background-color: white;
    top: 10%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 60%;
    height: auto;
    font-size: 140%;
}

.qod-quote {
    font-size: 125%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
}

.qod-author {
    font-style: italic;
    text-align: right;
    margin-right: 10px;
}
