body {
  background-color: #ffd9b3;
}
.box {
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
background-color: white;
width: 60%;
position: center;
margin-left: auto;
  margin-right: auto;
z-index:1;
}

.qod-quote {
    font-size: 125%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
}

.qod-author {
    font-style: italic;
    text-align: right;
    margin-right: 10px;
}
